@model fancy_backend.Models.Latest_News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Fancy_Crud_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Latest_News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.latest_news_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latest_news_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latest_news_subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latest_news_subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latest_news_item_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latest_news_item_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latest_news_item_subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latest_news_item_subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latest_news_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latest_news_img)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
